.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
.DS_Store
todo.txt
*/slides_files/
*.Rproj
.Rapp.history
*cache*
*slides_files*
Gemfile.lock
_site/
*.RDS
feedback
reflections.*
highlight.scss
*.ipynb_checkpoints
mban.sublime-project
mban.sublime-workspace
